.background {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Orbitron", sans-serif;
  height: 100vh;
  background: radial-gradient(circle at center, #0f2027, #203a43, #2c5364);
  color: #ffffff;
  overflow: auto;
}
